.not-header {
  margin : auto;
  width: 80%;
}

.search-state {
  font-size: 16px;
}

.search-input-city {
  font-size: 20px;
  color : #000000;
}

.film-poster {
  height : 33%;
  width: 33%;
}

.state-chosen {
  font-size: 16px;  
}

.error {
  text-align: center;
  font-size: 24px;
  color: #e02e0f;
}

.results-here {
  font-size: 40px;
  font-style: italic;
  text-align: center;
  opacity: .25;
}

label-warning {
  font-size: 12px;
}
