.not-header {
  margin : auto;
  width: 80%;
}

.modal-img-src {
  max-width: 100%;
  max-height: 100%;
}

.data-body.panel-body {
  /*display: inline-block;*/
}

img.webcam-nhood {
  height : 75%;
  width : 75%;
}

.search-state {
  font-size: 16px;
}

.search-input-city {
  font-size: 20px;
  color : #000000;
}

.film-poster {
  height : 33%;
  width: 33%;
}

.state-chosen {
  font-size: 16px;
}

.error {
  text-align: center;
  font-size: 24px;
  color: #e02e0f;
}

.results-here {
  font-size: 40px;
  font-style: italic;
  text-align: center;
  opacity: .25;
}

label-warning {
  font-size: 12px;
}
